<div class="jumbotron hidden">
    <h1>Accessible Slick Grid Application</h1>
    <p class="lead">
        <!--Angular directive to effect the scrolling using up / down arrow and pg up / pg down keys in dialog without focusing to the Div tag.-->
    </p>
</div>

<!--<div class="row marketing">
    <h4>HTML</h4>
<pre>
&lt;a11y-badges&gt;&lt;/ally-badges&gt;
</pre>
</div>-->
<pre>GITHUB: <a href="https://github.com/senthilshanmugam/allySlickGrid">https://github.com/senthilshanmugam/allySlickGrid</a></pre>

<div style="position:relative">
    <div style="width:600px;">
        <h1>Slick Grid</h1>
        <input type="text" id="first" aria-label="testing" /><br /><br />
        <input type="button" id="addNewRow" value="Action" />

        <span id="grid-description">Grid Description Goes Here...</span>
        <div id="myGrid" style="width:100%;height:500px;"></div>

        <br /><input type="text" aria-label="second" id="second" />

    </div>

    <div class="options-panel">
        <p>
            <ol>
                <li>Use arrow keys to navigate in the application widget</li>
                <li>Columns can be read with multiple context of column and row header</li>
                <li>Title and Range columns are editable.  Press enter key to edit mode</li>
                <li>Sorting is available via Alt+down arrow</li>
                <li>Can add aria description for the grid on focus</li>
            </ol>
        </p>
        <p>
            This example demonstrates using the <b>Slick.Plugins.HeaderMenu</b> plugin to add drop-down menus to column
            headers.  (Hover over the headers.)
        </p>
        <h2>View Source:</h2>
        <ul>
            <li><A href="https://github.com/6pac/SlickGrid/blob/master/examples/example-plugin-headermenu.html" target="_sourcewindow"> View the source for this example on Github</A></li>
        </ul>
    </div>
</div>
